body{
    background-color:#05386B ;
}

.myNav{
    background-color: #5CDB95 ;
    justify-content: center;
}

.btn{
    margin: 2rem;
    font-size: 2rem;
    font-style: italic;
    text-decoration: black underline;
}


@media screen and (max-width: 1000px){
    .btn{
        margin: 0rem;
        font-size: 1rem;
        
    }
}